name: Pactum API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
          node-version: "18" # pode trocar para 20 se usar

      - name: Instalar dependências
        run: npm install

      - name: Rodar testes Pactum
        run: npm test
